<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gene.IM.mapper.DeviceMapper">
    <!-- DeviceMapper.xml -->

        <!-- 查询设备信息 -->
        <select id="selectDeviceByMac" parameterType="String" resultType="com.gene.IM.DTO.DeviceInfo">
            SELECT *
            FROM device
            WHERE mac = #{mac}
        </select>

        <!-- 插入设备信息 -->
        <insert id="insertDevice" parameterType="com.gene.IM.entity.Device">
            INSERT INTO device (line,status, mac, description)
            VALUES (#{line}, #{status}, #{mac}, #{description})
        </insert>

        <!-- 更新设备信息 -->
        <update id="updateDevice" parameterType="com.gene.IM.entity.Device">
            UPDATE device
            <set>
                <if test="line != null"> line = #{line}, </if>
                <if test="temp != null"> temp = #{temp}, </if>
                <if test="hum != null"> hum = #{hum}, </if>
                <if test="passRate != null"> pass_rate = #{passRate}, </if>
                <if test="status != null"> status = #{status}, </if>
                <if test="mac != null"> mac = #{mac}, </if>
                <if test="description != null"> description = #{description} </if>
            </set>
            WHERE mac = #{mac} <!-- 根据主键更新 -->
        </update>

        <!-- 删除设备信息 -->
        <delete id="deleteDevice" parameterType="String">
            DELETE FROM device
            WHERE mac = #{mac}
        </delete>

    <!-- 获取某流水线制作商品信息 -->
    <select id="getLineOrderDetail" resultMap="com.gene.IM.mapper.OrderInfoMapper.orderDetailInfo">
        SELECT o.id, o.type_name, o.order_num, o.order_money, o.order_time,o.ddl
        FROM `order` o
                 LEFT JOIN order_line ol ON o.id = ol.order_id
        WHERE ol.line_id = #{lineID};
    </select>

    <select id="getLineInfo" resultType="double">
        SELECT l.status, ol.order_id, o.type_name
        FROM line l
                 JOIN order_line ol ON l.id = ol.line_id
                 JOIN `order` o ON ol.order_id = o.id
        WHERE l.id = #{lineId};
    </select>


</mapper>
