<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gene.IM.mapper.MaterialMapper">

    <resultMap id="materialResultMap" type="com.gene.IM.entity.Material">
        <id property="materialId" column="material_id" />
        <result property="num" column="num" />
        <result property="name" column="name" />
        <result property="cumulation" column="cumulation" />
        <result property="need" column="need" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <!-- Select Query -->
    <select id="find" parameterType="com.gene.IM.DTO.SelectMaterial" resultMap="materialResultMap">
        SELECT * FROM material
        <where>
            <if test="materialId != null">
                AND material_id = #{materialId}
            </if>
            <if test="num != null">
                AND num = #{num}
            </if>

            <if test="name != null">
                name = #{name},
            </if>
            <if test="need != null">
                AND need = #{need}
            </if>
            <if test="updateDate != null">
                AND update_date = #{updateDate}
            </if>

            <if test="updateDateEndTime!=null">and update_date &lt;= #{updateDateEndTime}</if>
            <if test="updateDateStartTime!=null">and update_date &gt;= #{updateDateStartTime}</if>
        </where>
    </select>


    <!-- Update Query -->
    <update id="update" parameterType="com.gene.IM.entity.Material" >
        UPDATE material
        <set>
            <if test="num != null">
                num = #{num},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="cumulation != null">
                cumulation = #{cumulation},
            </if>
            <if test="need != null">
                need = #{need},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate}
            </if>
        </set>
        WHERE material_id = #{materialId}
    </update>

    <!-- Delete Query -->
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM material WHERE material_id = #{materialId}
    </delete>

    <!-- 插入一条新的Material记录 -->
    <insert id="insertMaterial" parameterType="com.gene.IM.entity.Material">
        INSERT INTO material (material_id, name,num,update_date)
        VALUES (#{materialId},#{name}, #{num}, CURRENT_DATE)
    </insert>

<!--    &lt;!&ndash; 插入一条新的Material记录 &ndash;&gt;-->
<!--    <insert id="insertMaterial" parameterType="com.gene.IM.entity.Material">-->
<!--        INSERT INTO material-->
<!--        <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--            <if test="materialId != null">material_id,</if>-->
<!--            <if test="num != null">num,</if>-->
<!--        </trim>-->
<!--        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">-->
<!--            <if test="materialId != null">#{materialId},</if>-->
<!--            <if test="num != null">#{num},</if>-->
<!--        </trim>-->

<!--    </insert>-->


    <!-- 根据materialId查询Material记录 -->
    <select id="getMaterialById" resultMap="materialResultMap" parameterType="Integer">
        SELECT *
        FROM material
        WHERE material_id = #{materialId}
    </select>

</mapper>
